* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

div[id] {
    scroll-margin-top: 50px;
}

/* Particulas */
#particles-js {
    width: 100%;
    height: 85vh;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    position: relative;
}

.lenguajes {
    height: 210px;
    width: 210px;
    position: absolute;
    font-size: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: slidein 15s infinite;
    background: none;
    opacity: 85%;
}

@keyframes slidein {

    20%{
        background: url(../img/mysql.svg);
    }

    40% {
        background: url(../img/python.svg);
    }

    60%{
        background: url(../img/pandas.svg);
    }

    80%{
        background: url(../img/numpy.svg);
    }

    100%{
        background: url(../img/powerbi.svg);
    }
}

/* Secciones */
body, section {
    background-color: rgb(241, 241, 241);
    text-align: center;
    overflow-x: hidden;
}

/* Títulos */
h3 {
    font-size: 1.8em;
    color: rgb(48, 48, 48);
    text-align: center;
    letter-spacing: 1px;
    padding: 15px;
}

/* Sobre Mi */
p {
    font-size: 20px;
    max-width: 990px;
    text-transform: none;
    text-align: justify;
    letter-spacing: .5px;
    text-wrap: pretty;
    line-height: 28px;
    margin: auto;
}

/* Habilidades */
.habilidades {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades img {
    height: 120px;
    width: 120px;
}

.habilidades, .proyectos {
    margin: 10px 0 30px 0;
}

.habilidades__bloque {
    margin: 0 6px;
}

.bloque--mysql, .bloque--python, .bloque--pandas, .bloque--numpy, .bloque--powerbi {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(235, 235, 235), rgb(219, 219, 219));
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.4);
    height: 265px;
    width: 150px;
    border-radius: 16px;
    transform: scale(1);
    transition: transform 0.4s ease, top 0.4s ease, left 0.4s ease;
    position: relative;
}

.bloque--python {
    background: linear-gradient(rgb(113, 158, 224), rgb(171, 197, 235));;
}

.bloque--pandas {
    background: linear-gradient(rgb(219, 219, 219), rgb(253, 253, 253));
}

.bloque--numpy {
    background: linear-gradient(rgb(177, 193, 231), rgb(230, 230, 230));
}

.bloque--powerbi {
    background: linear-gradient(rgb(241, 147, 124), rgb(243, 199, 77));
}

.bloque--mysql:hover, .bloque--python:hover, .bloque--pandas:hover, .bloque--numpy:hover, .bloque--powerbi:hover {
    transform: scale(1.1);
}

/* Proyectos */
.proyectos {
    display: block;
    width: 100%;
    height: auto;
}

.proyectos .bloque--analisis, .bloque--gestion_ventas {
    background-color: rgb(245, 245, 245, .85);
    box-shadow: 1px 8px 15px -2px rgb(0, 0, 0, 0.4);
    display: inline-block;
    position: relative;
    width: 350px;
    height: 440px;
    overflow: hidden;
    border-radius: 16px;
    margin: 0 10px;
}

.proyectos .bloque--analisis img, .bloque--gestion_ventas img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 25px;
    transition: all 400ms ease-out;
    will-change: transform;
    background-color: rgb(202, 202, 202);
}

.proyectos .bloque--gestion_ventas img {
    background-color: rgb(159, 182, 216)
}

.proyectos .bloque--analisis p, .bloque--gestion_ventas p {
    font-size: 25px;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin: 30px;
}

.proyectos .bloque--analisis a, .bloque--gestion_ventas a {
    display: flex;
    margin: 20px 30px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(60, 60, 60);
    cursor: pointer;
    text-underline-offset: 1.5px;
}

.proyectos .bloque--analisis a:hover, .bloque--gestion_ventas a:hover {
    color: rgb(98, 148, 224);
    text-decoration: none;
}

/* Contacto */
.contacto {
    display: block;
    width: 100%;
    background-image: linear-gradient(to top, rgb(145, 180, 219) 0%, rgb(221, 230, 243) 100%);
    padding-bottom: 50px;
}

.formulario {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 400px;
    margin: auto;
    border-radius: 16px;
    padding: 1em 1em;
}

.formulario-contenedor {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.formulario-input {
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: .3px solid rgb(214, 214, 214);
    border-radius: 16px;
}

.formulario-input-mensaje {
    resize: none;
    padding: 1.8em 1em 5em;
    margin-bottom: 1.5em;
}

.boton {
    font-size: 15px;
    letter-spacing: .6px;
    background-color: rgb(120, 168, 223);
    color: #fff;
    border: none;
    padding: .7em 0;
    border-radius: 16px;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(90, 151, 221);
}

/* Footer */
footer {
    background: rgb(223, 223, 223);
    text-align: center;
}

.github, .linkedin {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.copyright {
    font-size: 15px;
    letter-spacing: .2px;
    text-transform: none;
    display: block;
    background: rgb(193, 193, 193);
    color: rgb(48, 48, 48);
    padding: 15px;
}

/* Responsive */

/* Celular estadar*/
@media (max-width: 576px) {
    div[id] {
        scroll-margin-top: 75px;
    }

    /* Particulas */
    #particles-js {
        height: 70vh;
    }

    .lenguajes {
        height: 190px;
        width: 190px;
    }

    /* Sobre Mi */
    p{
        font-size: 19px;
        max-width: 300px;
    } 

    /* Habilidades */
    .habilidades img {
        height: 90px;
        width: 90px;
        margin: 5px 100px 5px 10px;
    }

    .bloque--mysql, .bloque--python, .bloque--pandas, .bloque--numpy, .bloque--powerbi {
        background: linear-gradient(90deg, rgb(235, 235, 235), rgb(219, 219, 219));
        height: 110px;
        width: 295px;
        margin: 8px;
    }

    .bloque--python {
        background: linear-gradient(90deg, rgb(113, 158, 224), rgb(171, 197, 235));
    }

    .bloque--pandas {
        background: linear-gradient(90deg, rgb(219, 219, 219), rgb(253, 253, 253));
    }

    .bloque--numpy {
        background: linear-gradient(90deg, rgb(177, 193, 231), rgb(230, 230, 230));
    }
    
    .bloque--powerbi {
        background: linear-gradient(90deg, rgb(241, 147, 124), rgb(243, 199, 77));
    }

    /* Proyectos */
    .proyectos .bloque--analisis, .bloque--gestion_ventas {
        width: 310px;
        height: 395px;
        margin: 10px;
    }

    .proyectos .bloque--analisis p, .bloque--gestion_ventas p {
        font-size: 23px;
        margin: 30px;
    }

    .proyectos .bloque--analisis a, .bloque--gestion_ventas a {
        margin: 40px 30px;
    }

    /* Contacto */
    .formulario {
        width: 85%;
    }

    .formulario-input-mensaje {
        padding: 1.8em 1em 5em;
    }

    /* Footer */
    .copyright {
        font-size: 12px;
        padding: 10px;
    }
}

/* Celular grande */
@media (min-width: 577px) and (max-width: 768px) {

    /* Sobre Mi */
    p{
        font-size: 22px;
        max-width: 430px;
    }

    /* Habilidades */
    .habilidades img {
        height: 110px;
        width: 110px;
        margin: 5px 100px 5px 10px;
    }

    .bloque--mysql, .bloque--python, .bloque--pandas, .bloque--numpy, .bloque--powerbi {
        background: linear-gradient(90deg, rgb(235, 235, 235), rgb(219, 219, 219));
        height: 130px;
        width: 370px;
        margin: 8px;
    }

    .bloque--python {
        background: linear-gradient(90deg, rgb(113, 158, 224), rgb(171, 197, 235));
    }

    .bloque--pandas {
        background: linear-gradient(90deg, rgb(219, 219, 219), rgb(253, 253, 253));
    }

    .bloque--numpy {
        background: linear-gradient(90deg, rgb(177, 193, 231), rgb(230, 230, 230));
    }
    
    .bloque--powerbi {
        background: linear-gradient(90deg, rgb(241, 147, 124), rgb(243, 199, 77));
    }

    /* Proyectos */
    .proyectos .bloque--analisis, .bloque--gestion_ventas {
        width: 380px;
        height: 470px;
        margin: 10px;
    }

    /* Contacto */
    .formulario {
        width: 80%;
    }

    .formulario-input-mensaje {
        padding: 1.8em 1em 6em;
    }

}

/* Tablet */
@media (min-width: 769px) and (max-width: 990px) {

    /* Sobre Mi*/
    p {
        font-size: 22px;
        max-width: 550px;
    }

    /* Habilidades */
    .habilidades img {
        height: 130px;
        width: 130px;
    }

    .bloque--mysql, .bloque--python, .bloque--pandas, .bloque--numpy, .bloque--powerbi {
        height: 290px;
        width: 190px;
        margin: 12px 10px;
    }

    /* Contacto */
    .formulario {
        width: 90%;
    }

    .formulario-input-mensaje {
        padding: 1.8em 1em 6.5em;
    }

    /* Footer */
    .copyright {
        font-size: 13px;
        padding: 8px;
    }
}

/* Notebook */
@media (min-width: 991px)  and (max-width: 1199px) {

    /* Sobre Mi */
    p {
        font-size: 22px;
        max-width: 720px;
    }

    /* Habilidades */
    .bloque--mysql, .bloque--python, .bloque--pandas, .bloque--numpy, .bloque--powerbi {
        margin: 10px 7px;
    }

}

/* Pc Escritorio */
/* @media (min-width: 1200px) {} */